{% extends 'base.html' %}



{% block content %}
{% load static %}


<div class="container">

<p>Welcome, {{ user.username }}</p>
<h3> Backorder Management </h3>

<script>
		var margin = {top: 20, right: 30, bottom: 30, left: 50},
		    width = 960 - margin.left - margin.right,
		    height = 500 - margin.top - margin.bottom;

		var parseDate = d3.time.format("%d/%m/%Y").parse;
		var formatDate = d3.time.format("%m/%y");
		var formatCount = d3.format(",.0f");

		var x = d3.time.scale().range([0, width]);
		var y = d3.scale.linear().range([height, 0]);

		var xAxis = d3.svg.axis().scale(x)
		  .orient("bottom")
		  .tickFormat(formatDate);

		var yAxis = d3.svg.axis().scale(y)
		  .orient("left").ticks(6);

		// Create the SVG drawing area
		var svg = d3.select("body")
		  .append("svg")
		  .attr("width", width + margin.left + margin.right)
		  .attr("height", height + margin.top + margin.bottom)
		  .append("g")
		  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		// Get the data
		d3.csv("{% static 'openPO.csv' %}", function(error, data) {
		  
		  var allGroup = d3.map(data, function(d){return(d.Supplier)}).keys()

		  // add the options to the button
    	  d3.select("#selectButton")
      	  .selectAll('myOptions')
     		  .data(allGroup)
      	  .enter()
    		  .append('option')
      	  .text(function (d) { return d; }) // text showed in the menu
      	  .attr("value", function (d) { return d; }) // corresponding value returned by the button

      	 
		  // Parse the date strings into javascript dates
		  data.forEach(function(d) {
		    d.created_date = parseDate(d["PO Create Date"]);
		  
		  });

		  // Determine the first and list dates in the data set
		  var monthExtent = d3.extent(data, function(d) { return d.created_date; });

		  // Create one bin per month, use an offset to include the first and last months
		  var monthBins = d3.time.months(d3.time.month.offset(monthExtent[0],-1),
		                                 d3.time.month.offset(monthExtent[1],1));

		  // Use the histogram layout to create a function that will bin the data
		  var binByMonth = d3.layout.histogram()
		    .value(function(d) { return d.created_date; })
		    .bins(monthBins);

		  // Bin the data by month
		  var histData = binByMonth(data);
		  //var histData = binByMonth(data.filter(function(d){ return d.Supplier == "70041 - ALO AB PARTS" }));

		  // Scale the range of the data by setting the domain
		  x.domain(d3.extent(monthBins));
		  y.domain([0, d3.max(histData, function(d) { return d.y; })]);


		  // Set up one bar for each bin
		  // Months have slightly different lengths so calculate the width for each bin
		  // Note: dx, the width of the histogram bin, is in milliseconds so convert the x value
		  // into UTC time and convert the sum back to a date in order to help calculate the width
		  // Thanks to npdoty for pointing this out in this stack overflow post:
		  // http://stackoverflow.com/questions/17745682/d3-histogram-date-based
		  svg.selectAll(".bar")
		      .data(histData)
		    .enter().append("rect")
		      .attr("class", "bar")
		      .attr("x", function(d) { return x(d.x); })
		      .attr("width", function(d) { return x(new Date(d.x.getTime() + d.dx))-x(d.x)-1; })
		      .attr("y", function(d) { return y(d.y); })
		      .attr("height", function(d) { return height - y(d.y); });

		  // Adding labels
		  svg.selectAll("text")
      		 .data(histData)
      		 .enter()
      		 .append("text")
      		 .attr("class", "text")
      		 .attr("x", function(d) { return x(d.x) + (x(new Date(d.x.getTime() + d.dx))-x(d.x)-0.1) / 2; })
		     .attr("y", function(d) { return y(d.y) - 4; })
      		 .attr("fill", "black")
      		 .attr("font-family" , "sans-serif")
      		 .attr("font-size" , "11px")
      		 .attr("text-anchor", "middle")
      		 .text(function(d) { return d.y; });
		      

		  // Add the X Axis
		  svg.append("g")
		      .attr("class", "x axis")
		      .attr("transform", "translate(0," + height + ")")
		      .call(xAxis);

		  // Add the Y Axis and label
		  svg.append("g")
		     .attr("class", "y axis")
		     .call(yAxis)
		    .append("text")
		      .attr("transform", "rotate(-90)")
		      .attr("y", 6)
		      .attr("dy", ".71em")
		      .style("text-anchor", "end")
		      .text("Number of OpenPO Lines");

		  // A function that update the chart
    		function update(selectedGroup) {

      		// Create new data with the selection?
      		var dataFilter = data.filter(function(d){return d.name==selectedGroup})

      		// Give these new data to update line
      		
          		.datum(dataFilter)
          		.transition()
          		.duration(1000)
          		.attr("d", d3.line()
            		.x(function(d) { return x(d.x) })
            		.y(function(d) { return y(+d.n) })
          		)
          		.attr("stroke", function(d){ return myColor(selectedGroup) })
    		}

    		// When the button is changed, run the updateChart function
    		d3.select("#selectButton").on("change", function(d) {
        	// recover the option that has been chosen
        	var selectedOption = d3.select(this).property("value")
        	// run the updateChart function with this selected option
        	update(selectedOption)
    	})
	})

</script>
</div>
</div>
{% endblock %}

// A function that update the chart when slider is moved?
  function updateChart(selectedGroup) {
    // recompute density estimation
    kde = kernelDensityEstimator(kernelEpanechnikov(3), x.ticks(40))
    var density =  kde( data
      .filter(function(d){ return d.Species == selectedGroup})
      .map(function(d){  return +d.Sepal_Length; })
    )

    // update the chart
    curve
      .datum(density)
      .transition()
      .duration(1000)
      .attr("d",  d3.line()
        .curve(d3.curveBasis)
          .x(function(d) { return x(d[0]); })
          .y(function(d) { return y(d[1]); })
      );
  }

  // Listen to the slider?
  d3.select("#selectButton").on("change", function(d){
    selectedGroup = this.value
    updateChart(selectedGroup)
  })

});