{% extends 'base.html' %}



{% block content %}
<style>
.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  text-align: center;
}

.btn-primary {
	background-color: #336699;
}

</style>
<div class="container">
	<p>Welcome, {% if user.is_authenticated %}{{ user.username }}{% else %}visitor{% endif %}</p>
	{% if user.is_authenticated %}
		<div class="grid-container">
			<a href="{% url 'backordermanagement' %}" class="btn btn-primary">Backorder Management</a>
			 <a href="" class="btn btn-primary">Supplier Performance</a>
			 <div class="container-sm border"></div>
			 <div class="container-sm border"></div>
			 <div class="container-sm border"></div>
			 <div class="container-sm border"></div>
			 <div class="container-sm border"></div>
			 <div class="container-sm border"></div>
			 <div class="container-sm border"></div>
			</div>
		{% else %}

		{% endif %}
</div>
{% endblock %}